<div mat-dialog-title>
    <h1>Formular adaugare</h1>
</div>
<form [formGroup]="allForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>ID echipa</mat-label>
                <input matInput type="number" formControlName="ID_ECHIPA">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Denumire echipa</mat-label>
                <input matInput formControlName="DENUMIRE_ECHIPA">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Nume jucator</mat-label>
                <input matInput formControlName="NUME_JUCATOR">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Prenume jucator</mat-label>
                <input matInput formControlName="PRENUME_JUCATOR">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Data nastere</mat-label>
                <input matInput type="date" formControlName="DATA_NASTERE">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>ID jucator</mat-label>
                <input matInput type="number" formControlName="ID_JUCATOR">
            </mat-form-field>
        </div>
    </div>

    <div mat-dialog-actions>
        <button mat-raised-button>Anuleaza</button>
        <button mat-raised-button color="primary" type="submit">Salveaza</button>
    </div>
</form>